<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to "Home", root_path %>
  <%= link_to "Articles", articles_path %>
  <%= link_to "Tags", tags_path %>
</div>
<p class="flash"><%= flash.notice %></p>

<%= yield %>

</body>
</html>
